.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: black;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  flex-grow: 1;
}

.App-footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.App-link {
  color: black;
}
.App-footer-link {
  color: white;
  font-size: calc(20px);
  text-decoration: none;
}

.icon-header-link {
  cursor: pointer;
}

a:hover {
  color: rgb(199, 41, 80);
}

.portfolioImgDiv {
  height: 264px;
  padding-left: 4px;
  padding-top: 4px;
}

.portfolioImg {
  height: 260px;
  width: fit-content;
}
